@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Super-Trial.woff2");
  font-weight: 900;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-SuperItalic-Trial.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Black-Trial.woff2");
  font-weight: 800;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-BlackItalic-Trial.woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Heavy-Trial.woff2");
  font-weight: 700;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-HeavyItalic-Trial.woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Bold-Trial.woff2");
  font-weight: 600;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-BoldItalic-Trial.woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Medium-Trial.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-MediumItalic-Trial.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Regular-Trial.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-RegularItalic-Trial.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Book-Trial.woff2");
  font-weight: 350;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-BookItalic-Trial.woff2");
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Book-Trial.woff2");
  font-weight: 350;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-BookItalic-Trial.woff2");
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Light-Trial.woff2");
  font-weight: 300;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-LightItalic-Trial.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Extralight-Trial.woff2");
  font-weight: 200;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-ExtralightItalic-Trial.woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-Thin-Trial.woff2");
  font-weight: 100;
}

@font-face {
  font-family: Whyte Inktrap;
  src: url("https://inceptio-infra-cloudinfra.oss-cn-hangzhou.aliyuncs.com/fronto-static/fonts/whyte-inktrap/ABCWhyteInktrap-ThinItalic-Trial.woff2");
  font-weight: 100;
  font-style: italic;
}
